# .side_suction/.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
*.qml

# ─── Секреты, конфиги, виртуалки и окружения ──────────────────────────────────
conda-meta/
.conda*/
venv/
**/*.secret
**/.env
*.env
.env
.envs/
config.json